{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="full-width-container pt-250 pb-180 md-pt-100 md-pb-120">

	<!-- SHOP SHOWCASE -->
	<div class="product-showcase">
		<div class="container">
			<h2>Cart</h2>
			<div class="row">
				{% for docs in cart.cart %}
				<div class="col-12  col-md-4 col-lg-3 px-1">
					<div class="card my-2">
						<img class="card-img-top border-bottom" src="{%static '/images/01.png'%}" alt="Card image cap">
						<div class="card-body px-1 ">
							<h4 class="card-title text-center">{{docs.ProductName}}</h4>
							<h5 class="card-text color-primary py-1 text-center">{{docs.Price}}<span>EGP</span></h5>

						</div>
						<div class="text-center pt-3 pb-4 container d-flex justify-content-center">
							<a href='productadd{{docs.ProductName}}'
								class="rounded-circle px-2 mx-2 bg-main p-2 d-flex color-white align-items-center">
								<img src="{%static '/images/icon/add-outline.svg'%}" width="30" height="30"
									class="button-custom">
								<span class="show-on-hover ">
									Add
								</span>
							</a>
							<span class="d-flex align-items-center px-1">
								{{docs.Quantity}}
							</span>
							<a href="productremove{{docs.ProductName}}"
								class="rounded-circle px-2 mx-2 bg-myprimary p-2 d-flex color-white align-items-center">
								<span class="show-on-hover ">
									Remove
								</span>
								<img src="{%static '/images/icon/remove-outline.svg'%}" width="30" height="30"
									class="button-custom">
							</a>
						</div>
						<div class="bg-main loading">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>

	</div> <!-- /.row -->
</div> <!-- /.product-showcase -->




{% endblock content %}